header {
  background-color: #ff7efb;
  background-image: url('/images/batthern.png');
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

header span {
  font-family: Source Sans Pro;
  font-weight: 300;
}